
.Headline-header { 
  background:#B22222;
  border: 2px solid#B22222;
  height: 50px;
  padding: 10px;  
  font-weight: bold; 
}

.header-app-info {
  color: black;
  text-align: left !important;  
}


.header-user-info {
  text-align: right !important; 
  margin-top: -25px; 
}
